flask==2.3.3
flask-sqlalchemy==3.1.1
chromadb==0.4.14
vertexai==0.0.1
pdfminer.six==20221105
litellm==0.1.793
shapely
waitress
flask_cors
flask-restx
gunicorn
google-cloud-aiplatform
cloudpickle
telebot
flask-session
llama-index
shell
langchain
flask-session
telebot
